label {
    display: block;
    margin-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.hidden {
    display: none;
}

img {
    display: block;
    margin: 30px 30px;
}

.fail {
    display: none;
}